{# Esto es un comentario #}
{% extends "index.html" %}
{# definir contenidos que tendrán cada uno de los bloques #}
{% block script %} 
<script src="/static/javascript/usuario.js"></script>
{% endblock %}
{% block tituloPestana %} 
    CRUD Cita
{% endblock %}
{% block tituloPagina %} 
    <div class="text-center mt-5">
        <h1>Cita de {{user.first_name}} {{user.last_name}}</h1>
    </div>
{% endblock %}

{% block mensaje %} 
{% if mensaje %}
    <div class="alert alert-success mt-5" role="alert">
        {{ mensaje }}
    </div>
{% elif error %}
    <div class="alert alert-danger mt-5" role="alert">
        {{ error }}
    </div>
{% endif %}
{% endblock %}
{% block contenido %} 
<br>
    <div class="container">
        <div class="row">
            <div class="col-md-10 off-md-4">
                <div class="signup-form">
                    <form action="{%url 'cita' %}" method="POST" autocomplete="off" class="mt-5 border p-4 bg-light shadow">
                        {% csrf_token %}
                        <h3 class="mb-4">Registrar Cita</h3>
                            <div class="mb-3 col-md-12">
                              <input type="hidden" name="txtId" value="{{fila.id}}">
                              <input type="hidden" name="txtIdCliente" value="{{user.id}}" >
                              {% if user.is_staff %}
                                <div class="mb-3 col-md-12">
                                    <label for="fecCita">Fecha Cita<span class="text-danger">*</span> </label>
                                    <input type="date" name="fecCita" id="fecCita" class="fecCita form-control" value="{{fila.fechaCita}}">
                                </div>
                                <div class="mb-3 col-md-12">
                                    <label for="horaCita">Hora Cita<span class="text-danger">*</label>
                                    <input type="time" id="horaCita" name="horaCita" class="horaCita form-control" value="{{fila.horaCita}}">
                                </div>
                                <div class="row">
                                    <label for="cmbEstado">Estado<span class="text-danger">*</span></label>
                                    <select name="cmbEstado" class="cmbEstado form-select" id="cmbEstado" value="{{ fila.estado }}">
                                        <option class="cmbVehiculo" hidden value="0">Seleccione un estado</option>
                                        <option value="1">En espera</option>
                                        <option value="2">En proceso</option>
                                        <option value="3">Listo</option>
                                    </select>
                                </div>
                                {%endif%}
                                <div class="row">
                                    <label for="cmbVehiculo">Vehiculo<span class="text-danger">*</span></label>
                                    <select name="cmbVehiculo" class="cmbVehiculo form-select" id="cmbVehiculo" value="{{ fila.idVehiculo }}">
                                    <option class="cmbVehiculo" hidden value="0">Seleccione una Vehiculo</option>
                                    {% if userVehicles %}
                                        {% for fila in userVehicles %}
                                        <option value="{{fila.id}}">{{fila.patente}}, {{fila.modelo}} {{fila.year}}</option>
                                        {% endfor %}
                                    {% else %}
                                  <option disabled value="0">No hay vehiculos disponibles</option>
                                  {%endif%}
                                    </select>
                                </div>
                                <div class="row">
                                    <label for="cmbServicio">Servicio<span class="text-danger">*</span></label>
                                    <select name="cmbServicio" class="cmbServicio form-select" id="cmbServicio" value="{{ fila.idServicio }}">
                                    <option class="cmbServicio" hidden value="0">Seleccione una Servicio</option>
                                    {% if services %}
                                        {% for fila in services %}
                                            <option value="{{fila.id}}">{{fila.nombreServicio}}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option disabled value="0">No hay servicios disponibles</option>
                                    {% endif %}
                                    </select>
                                </div>
                            </div>
                        <div class="row">
                          <div class="col-md-4 mt-3">
                            <input type="submit" name="btnCreate" class="btnCreate btn btn-outline-success form-control" value="Registrar Cita">
                          </div>
                          <div class="col-md-4 mt-3">
                            <input type="submit" name="btnRead" class="btnRead btn btn-outline-secondary form-control" value="Listar Cita">
                          </div>
                          <div class="col-md-4 mt-3">
                            <input type="submit" name="btnDelete" class="btnDelete btn btn-outline-danger form-control" value="Eliminar Cita">
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block listado %} 
{% if listado %}
<div class="container">
    <div class="text-center mt-5">
        <div class="col-md-12 table-responsive">
            <table class="table table-light table-striped">
                <tr class="table-dark">
                    <th>idCita</th>
                    <th>idCliente</th>
                    <th>idVehiculo</th>
                    <th>idServicio</th>
                    <th>fechaCita</th>
                    <th>horaCita</th>
                    <th>Editar</th>
                </tr>
    {% for fila in listado %}
                <tr>
                    <td>{{ fila.id }}</td>
                    <td>{{ fila.idCliente }}</td>
                    <td>{{ fila.idVehiculo }}</td>
                    <td>{{ fila.idServicio }}</td>
                    {% if fila.estado == 1 %}
                    <td>No asignada</td>
                    <td>No asignada</td>
                    {% else %}
                    <td>{{ fila.fechaCita }}</td>
                    <td>{{ fila.horaCita }}</td>
                    {% endif %}
                    <td><a href="{% url 'cita' %}/{{ fila.id }}/{{fila.idCliente}}/">Editar</a></td>
                </tr>
    {% endfor %}
            </table>
        </div>
    </div>
</div>
{%endif%}
{% endblock %}