{# Esto es un comentario #}
{% extends "index.html" %}
{# definir contenidos que tendrán cada uno de los bloques #}
{% block script %} 
<script src="/static/javascript/usuario.js"></script>
{% endblock %}
{% block tituloPestana %} 
    Citas
{% endblock %}
{% block tituloPagina %} 
    <div class="text-center mt-5">
        <h1>Citas</h1>
    </div>
{% endblock %}

{% block mensaje %} 
{% if mensaje %}
    <div class="alert alert-success mt-5" role="alert">
        {{ mensaje }}
    </div>
{% elif error %}
    <div class="alert alert-danger mt-5" role="alert">
        {{ error }}
    </div>
{% endif %}
{% endblock %}

{% block listado %} 
{% if listado %}
<div class="container">
    <div class="text-center mt-5">
        <div class="col-md-12 table-responsive">
            <table class="table table-light table-striped">
                <tr class="table-dark">
                    <th>idCita</th>
                    <th>Rut Cliente</th>
                    <th>Patente Vehiculo</th>
                    <th>Servicio</th>
                    <th>Fecha Cita</th>
                    <th>Hora Cita</th>
                    <th>Estado</th>
                    <th>Editar</th>
                </tr>
    {% for fila in listado %}
                <tr>
                    <td>{{ fila.id }}</td>
                    {%for user in users%}
                    {%if user.id is fila.idCliente%}
                    <td>{{ user.rut }}-{{user.dv}}</td>
                    {%endif%}
                    {%endfor%}
                    {%for vehicle in vehicles%}
                    {%if vehicle.id is fila.idVehiculo%}
                    <td>{{ vehicle.patente }}</td>
                    {%endif%}
                    {%endfor%}
                    {%for service in services%}
                    {%if service.id is fila.idServicio%}
                    <td>{{ service.nombreServicio }}</td>
                    {%endif%}
                    {%endfor%}
                    {% if fila.estado == 1 %}
                    <td>No asignada</td>
                    <td>No asignada</td>
                    {% else %}
                    <td>{{ fila.fechaCita }}</td>
                    <td>{{ fila.horaCita }}</td>
                    {% endif %}
                    {%if fila.estado == 1%}
                    <td>En Espera</td>
                    {%elif fila.estado == 2%}
                    <td>En Proceso</td>
                    {%elif fila.estado == 3%}
                    <td>Listo</td>
                    {%endif%}
                    <td><a href="{% url 'cita' %}/{{ fila.id }}/{{user.id}}/">Editar</a></td>
                </tr>
    {% endfor %}
            </table>
        </div>
    </div>
</div>
{%endif%}
{% endblock %}