{# Esto es un comentario #}
{% extends "index.html" %}

{% block tituloPestana %} 
    Inicio
{% endblock %}
{% block tituloPagina %} 
    <div class="text-center mt-5">
        <h1></h1>
    </div>
{% endblock %}

{% block mensaje %} 
{% if mensaje %}
    <div class="alert alert-success mt-5" role="alert">
        {{ mensaje }}
    </div>
{% elif error %}
    <div class="alert alert-danger mt-5" role="alert">
        {{ error }}
    </div>
{% endif %}
{% endblock %}
{% block contenido %} 


<div class="container">
    <article>
        <section>
          <div class="border m-2 mt-3 p-3 rounded shadow container col-12 row d-flex justify-content-center">
            <h2 class="text-center mt-4 p-2 ">Servicios ManagerSE</h2>
            <p class="text-secondary m-3 mt-2 mb-4">Estos son los servicios que ofrece nuestro taller mecanico.</p>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                {% for service in services %}
                {%if service.nombreServicio == 'Consulta general'%}
                <div class="carousel-item active" data-bs-interval="2500">
                    <img src="../static/images/{{service.imgServicio}}"  class="d-block w-100 img-fluid" alt="...">
                  </a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>{{service.nombreServicio}}</h5>
                      <p>{{service.descripcion}}</p>
                    </div>
                  </div>
                  {%else%}
                  <div class="carousel-item" data-bs-interval="2500">
                    <img src="../static/images/{{service.imgServicio}}"  class="d-block w-100 img-fluid" alt="...">
                  </a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>{{service.nombreServicio}}</h5>
                      <p>{{service.descripcion}}</p>
                    </div>
                  </div>
                {%endif%}
                {%endfor%}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            </div>
            <div class="border m-2 mt-3 p-3 rounded shadow container col-12 row d-flex justify-content-center">
                <h2 class="m-4 text-center">Marcas</h2>
                <p class="text-secondary mt-2 mb-4">Estas son las marcas que soporta nuestro taller mecanico.</p>
                {% for brand in brands %}
                <div class="col-md-3 p-3 text-center m-3 shadow">
                    <h2>{{brand.nombreMarca}}</h2>
                    <img src="../static/images/{{brand.imgMarca}}" width="100" class="rounded mx-auto d-block" alt="">
                </div>    
                {% endfor %}
                </div>
        </section>
    </article>
    </div>

{% endblock %}
{% block listado %} 
{% endblock %}